nav.l-navbar
  a.l-navbar__logo-mask(href="index.html")
    img(src="img/logo/logo.svg", alt="大港開唱 Logo")
  //- body 控制開關，裡面的東西才不會隨 menu 置中跑來跑去
  .l-navbar__body
    .l-navbar__menu
      ul.l-navbar__btn-box.--link
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="about.html")
            span.u-ff-en.u-text-lg INFO
            span 相關資訊
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span.u-ff-en.u-text-lg NEWS
            span 最新消息
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span.u-ff-en.u-text-lg ARTISTS
            span 藝人名單
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span.u-ff-en.u-text-lg TIMETABLE
            span 節目表
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="##")
            span.u-ff-en.u-text-lg TICKET
            span 購票資訊
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="map.html")
            span.u-ff-en.u-text-lg MAP
            span 地圖導覽

      //- ul.l-navbar__btn-box.l-navbar__btn-box--icon
      ul.l-navbar__btn-box.--icon
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="https://www.facebook.com/megaportfest/" target="_blank")
            iconify-icon.u-icon.--md(icon="mingcute:facebook-fill")
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="https://www.instagram.com/megaportfest/" target="_blank")
            iconify-icon.u-icon.--md(icon="mingcute:ins-fill")
        li.l-navbar__btn-wrap
          a.l-navbar__btn(href="https://www.youtube.com/channel/UC7xWU14_GGYKVqoSLg1M8EQ/feed" target="_blank")
            iconify-icon.u-icon.--md(icon="mingcute:youtube-fill")

  .l-navbar__burger
    .o-burger(onclick="toggleNavbar()")
      .o-burger__wrap
        .o-burger__line
        .o-burger__line
        .o-burger__line